/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

.flex {
  display: flex;
  gap: 1em;
  justify-content: center;
}

.container {
  width: 80%;
  max-width: 850px;
  margin: auto 0;
}